@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	--Neutral-900: rgba(18, 19, 26, 1);
	--Neutral-800: rgba(33, 34, 44, 1);
	--Neutral-700: rgba(42, 43, 55, 1);
	--Neutral-600: rgba(64, 66, 84, 1);
	--Neutral-200: rgba(228, 228, 239, 1);
	--Neutral-100: rgba(242, 242, 247, 1);
	--Neutral-0: rgba(255, 255, 255, 1);
	--purple-400: rgba(211, 160, 250, 1);
	--purple-500: rgba(194, 124, 248, 1);
	--Yellow-500: rgba(255, 159, 0, 1);
	--Orange-500: rgba(254, 129, 89, 1);
	--Orange-800: rgba(218, 55, 1, 1);
	--red-error: rgb(255, 14, 14);
}

.error {
	background-color: var(--red-error);
}

* {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
}

.none {
	display: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	color: var(--Neutral-200);
}

#p {
	color: var(--red-error);
}

h1 {
	color: var(--Neutral-100);
}

h4 {
	color: var(--Neutral-200);
}

body {
	padding: 24px 12px;
	background-image: url(assets/fond.png);
	background-color: var(--Neutral-900);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 20px;
	text-align: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.button-menu-réglage {
	padding: 6px;
	border-radius: 6px;
	background-color: var(--Neutral-700);
	border: 1px solid var(--Neutral-700);
}

#text-zone {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 20px;
}

.reform-0 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 5px;
}

#text-area-unique {
	height: 160px;
	resize: none;
	padding: 12px;
	border-radius: 12px;
	background-color: var(--Neutral-800);
	border: 3px solid var(--Neutral-700);
	color: var(--Neutral-200);
}

#text-area-unique::placeholder {
	color: var(--Neutral-100);
}

#child-of-text-zone {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 12px;
}

.reform {
	display: flex;
	align-items: stretch;
	text-align: start;
	justify-content: center;
	gap: 12px;
}

.checkbox {
	width: 16px;
	height: 16px;
	outline: 2px solid var(--Neutral-200);
	border-radius: 4px;
	appearance: none;

	background-color: var(--neutral-800);
}

.checkbox:checked {
	background-color: var(--purple-400);
	content: url(assets/checkbox.svg);
}

.in-number {
	width: 15%;
	border: none;
	border-radius: 8px;
	padding: 4px;
	border: 1px solid var(--Neutral-200);
	background: none;
	color: var(--Neutral-200);
}

.in-number::placeholder {
	color: var(--Neutral-100);
}

#information {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: stretch;
	justify-content: stretch;
	gap: 20px;
	width: 100%;
}

.info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	gap: 20px;
	padding: 16px;
	color: var(--Neutral-900);
	border-radius: 12px;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 20px;
	font-weight: 400;
}

#total-cards-parent {
	background-color: var(--purple-400);
}
#word-count-parent {
	background-color: var(--Yellow-500);
}
#sentence-count-parent {
	background-color: var(--Orange-500);
}

.absolute {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: hidden;
	border-radius: 0px 12px 12px 0px;
	height: 100%;
}



#letter-counting-hard {
	color: var(--Neutral-200);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 20px;
}

.letter {
	display: grid;
	grid-template-columns: 0.5fr 6fr 1fr;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

.cent {
	width: 100%;
	background-color: var(--Neutral-800);
	border-radius: 12px;
	display: flex;
	align-items: stretch;
	justify-content: start;
	height: 14px;
}

.zero {
	width: 65%;
	background-color: var(--purple-400);
	border-radius: 12px;
}

@media screen and (min-width: 768px) {
	body {
		padding: 24px;
	}

	h4 {
		font-size: 26px;
	}

	h1 {
		margin: 32px 64px;
		font-size: 64px;
		text-align: center;
	}

	#child-of-text-zone {
		display: grid;
		grid-template-columns: 1fr 1.5fr 2fr;
		align-items: center;
		text-align: end;
		margin-bottom: 24px;
		height: 30px;
	}

	#information {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: stretch;
		align-items: stretch;
		justify-items: stretch;
		align-content: stretch;
	}

	h2 {
		font-size: 64px;
		font-weight: 700;
	}
}

@media screen and (min-width: 1440PX) {
	body {
		padding: 64px;
	}

	h1 {
		font-size: 108px;
	}
	
	h2 {
		font-size: 94px;
	}
	
	h3 {
		font-size: 38px;
	}

	h4 {
		font-size: 36px;
	}

	p {
		font-size: 32px;
	}

	.checkbox {
		width: 24px;
		height: 24px;
	}
	
	.in-number {
		font-size: 24px;
	}

	#text-area-unique {
		font-size: 28px;
		height: 200px;
	}

	summary {
		font-size: 28px;
	}
}
